<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Create two new Components (manually or with CLI): WarnningAlert and SuccesAlert</li>
                <li>Output them beneath each other in the AppComponent</li>
                <li>Output a warning or succes message in the Component</li>
                <li>Style the Components appropiately (maybe some red/ green text?)</li>
            </ol>
            <p>Use external or internal templates and styles!</p>
            <p>Feel free to create more components, nest them into each other or play around with
                different types of selectores
            </p>
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
            <app-server></app-server>
            <app-server></app-server>
            <app-servers></app-servers>
        </div>
    </div>
</div>

